
@import url('https://fonts.googleapis.com/css?family=Anaheim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');

body{
    font-family: 'Anaheim', sans-serif;
    font-size: 16px;
}

div.project-module{
    border-top: black 1px solid;
    margin: 50px 0 0px 0;
    padding: 20px 50px;
    /* border-bottom: lightgray 1px solid; */
}

div.project-top{
    border-top: black 3px solid;
}

div.project-cover{
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

.project-cover, .menu{
    background-color: #f8dfdb;
    color: #fc221c;
}

div.project-desc{
    padding-top: 20px;
    bottom: 50px;
    padding: 20px 50px;
    padding-top: 100px;
    width: 100%;
}

div.project-metadata{
    width: 100%;
    padding: 40px 50px;
    font-size: 14px;
}

div.project-metadata-item{
    border-bottom: 1px solid #fc221c;  
    padding-top: 20px;
    padding-bottom: 20px; 
    overflow: auto;
}

div.project-metadata-item-title{
    float: left;
    font-size: 12px;
}

div.project-metadata-item-content{
    float: right;
    text-align: end;
    font-size: 14px;
}

div.project-outline{
    display:none;
}

div.project-outline p{
    color: gray;
    padding: 5px 0;
    /* text-decoration: underline; */
    font-weight: bold;
    font-size:14px;
    border-bottom: black 1px solid;
    margin: 0px;
}

div.project-outline p:hover{
    color: #fc221c;
}

div.slide-wrapper{
    width: 100%;
}

div.project-slides{
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    padding: 20px 0;
    width: 90%;
    margin: 0;
    float:left;
}

div.slide-left-margin{
    width:4%;
    float:left;
    vertical-align: middle;
    padding: 30% 0;
    font-size: 36px;
    color:gray;
    height: 100%;
    font-family: 'Major Mono Display', monospace;
}

div.slide-right-margin{
    width:4%;
    float:right;
    vertical-align: middle;
    padding: 30% 0;
    font-size: 36px;
    color:gray;
    height: 100%;
    font-family: 'Major Mono Display', monospace;
}

div.project-slide-single{
    width: 350px;
    padding: 20px;
    /* border-bottom: lightgray 5px solid; */
    margin: 5px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    box-shadow: 5px 5px 10px grey;
}

div.project-slide-single-landscape{
    width: 685px;
    margin: 10px;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
}

div.project-thumbnail{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
}

div.project-compare{
    display: flex;
}

div.project-compare-left{
    flex:1;
    margin-right:10px;
}

div.project-compare-right{
    flex:1;
    margin-left:10px;
}


/* styling of texts */
p.project-title{
    /* font-family: 'Abril Fatface'; */
    font-family: 'Lora';
    font-size: 48px;
    font-weight: bold;
    display: block;
}

a.project-link{
    text-align: center;
    padding: 10px;
    background-color: #fc221c;
    color: white;
    border-radius: 5px;
    width: 150px;
    display:block;
    float:right;
}

a.project-link:hover{
    border-radius: 12px;
    text-decoration: none;
    color: yellow;
}

div.important-link{
    margin: 20px 0;
    padding: 20px;
    background-color: #f8dfdb;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

div.important-link > a{
    color: #fc221c;
    /* font-family: 'Abril Fatface'; */
    font-family: 'Lora';
    font-weight: bold;    
}

div.important-link:hover{
    border-radius: 12px;   
}

div.important-link:hover a{
    color: yellow;
}

p.project-section-title{
    /* font-family: 'Abril Fatface'; */
    font-family: 'Lora';
    font-size: 24px;
    font-weight: bold;    
}

p.project-emphasize{
    /* font-family: 'Abril Fatface'; */
    font-family: 'Lora';
    font-size: 18px;
    font-weight: bold;   
}

p.project-takeaway{
    font-family: 'Lora';
    font-size: 18px;
    color: #395450;
    background-color: #7DDDD1;
    padding: 10px;
    padding-left: 40px;
    border-radius: 10px;    
}

.project-bullet{
    font-family: 'Lora';
    font-size: 24px;
    font-weight: bold;
    color: #fc221c;
    background-color: rgba(248, 223, 219, 0.25);
    padding: 20px;
    padding-left: 40px;
    margin: 20px 0;
    /* border-radius: 10px; */
    list-style-type: square;
    border-left: #f8dfdb 6px solid;"
}

ul.project-bullet li{
    padding: 5px 0; 
    list-style-type: inside;
}

/* styling of images */
img.project-full{
    width: 100%;
    box-shadow: 5px 5px 10px grey;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.project-grid-wrapper{
    overflow: auto;
    margin: 10px -1%;
}

img.project-img-grid{
    width: 23%;
    margin: 5px 1%;
    float: left;
}

.img-caption{
    display: block;
    font-size: 12px;
    color: gray;
    font-style: italic;
    text-align: center;
}

img.project-compact{
    width: 100%;
    margin: 10px 0;
    box-shadow: 5px 5px 10px grey;
} 

img.project-slide-compact{
    width: 100%;
    margin: 10px 0;
    box-shadow: 5px 5px 10px grey;
} 

img.round-corner{
    border-radius: 15px;
}

img.diagram{
    box-shadow: none;
}

/* others */
.triangle-down {
	width: 0;
	height: 0;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
    border-top: 40px solid #f8dfdb;
    margin: 0 auto;
}

.menu ul{
    padding: 10px 15%;
}

.highlight{
    background-color: #FFE4AA;
}

/* color for theta page */
#menu-theta{
    background-color: #BAD1C6;
}
#cover-theta{
    background-color: #BAD1C6;
    color: #41304F;
}
#project-cover-theta{
    background-color: #BAD1C6;
    color: #41304F;
}
.project-desc.theta, .project-metadata.theta{
    border-top: 3px solid #41304F;
}
.project-metadata-item.theta{
    border-bottom: 1px solid #41304F;
}
a.project-link.theta{
    color: #BAD1C6;
    background-color: #41304F;   
}
div.triangle-down.theta{
    border-top: 40px solid #BAD1C6; 
}
.project-bullet.theta{
    color: #41304F;
    background-color: #eaf1ee;
    border-left: #BAD1C6 6px solid;
}

/* color for moma page */
#menu-moma{
    background-color: #FFE4AA;
}
#project-cover-moma{
    background-color: #FFE4AA;
    color: #B23F49;
}
.project-desc.moma, .project-metadata.moma{
    border-top: 3px solid #B23F49;
}
.project-metadata-item.moma{
    border-bottom: 1px solid #B23F49;
}
a.project-link.moma{
    color: #FFE4AA;
    background-color: #B23F49;   
}
div.triangle-down.moma{
    border-top: 40px solid #FFE4AA; 
}
.project-bullet.moma{
    color: #B23F49;
    background-color: rgba(255, 228, 170, 0.25);
    border-left: #FFE4AA 6px solid;
}
div.important-link.moma{
    background-color: #FFE4AA;
}
div.important-link.moma > a{
    color: #B23F49; 
}

/* color for dh page */
#menu-dh{
    background-color: #D7E7ED;
}
#project-cover-dh{
    background-color: #D7E7ED;
    color: #9F807F;
}
.project-desc.dh, .project-metadata.dh{
    border-top: 3px solid #9F807F;
}
.project-metadata-item.dh{
    border-bottom: 1px solid #9F807F;
}
a.project-link.dh{
    color: #D7E7ED;
    background-color: #9F807F;   
}
div.triangle-down.dh{
    border-top: 40px solid #D7E7ED; 
}
.project-bullet.dh{
    color: #9F807F;
    background-color: rgba(215, 231, 237, 0.25);
    border-left: #D7E7ED 6px solid;
}
div.important-link.dh{
    background-color: #D7E7ED;
}
div.important-link.dh > a{
    color: #9F807F; 
}

/* color for thesis page */
#menu-vm{
    background-color: #E1D9C7;
}
#project-cover-vm{
    background-color: #E1D9C7;
    color: #3D7085;
}
.project-desc.vm, .project-metadata.vm{
    border-top: 3px solid #3D7085;
}
.project-metadata-item.vm{
    border-bottom: 1px solid #3D7085;
}
a.project-link.vm{
    color: #E1D9C7;
    background-color: #3D7085;   
}
div.triangle-down.vm{
    border-top: 40px solid #E1D9C7; 
}
.project-bullet.vm{
    color: #3D7085;
    background-color: rgba(170, 168, 162,0,25);
    border-left: #E1D9C7 6px solid;
}
div.important-link.vm{
    background-color: #E1D9C7;
}
div.important-link.vm > a{
    color: #3D7085; 
}
  
/* color for comp page */
#menu-comp{
    background-color: black;
}
#menu-comp li a{
    color: white;
}
#project-cover-comp{
    background-color: black;
    color: white;
}
.project-desc.comp, .project-metadata.comp{
    border-top: 3px solid gray;
}
.project-metadata-item.comp{
    border-bottom: 1px solid gray;
}
a.project-link.comp{
    color: black;
    background-color: white;   
}
div.triangle-down.comp{
    border-top: 40px solid black; 
}
.project-bullet.comp{
    color: #B23F49;
    background-color: rgba(255, 228, 170, 0.25);
    border-left: #FFE4AA 6px solid;
}
div.important-link.comp{
    background-color: #FFE4AA;
}
div.important-link.comp > a{
    color: #B23F49; 
}

.project-section-subtitle{
    font-size: 18px;
    font-weight: bold;
    font-family: "Lora" ;
    text-transform: uppercase;
    padding: 15px 0 5px 0;
}

img.icon-centered{
    width: 40%;
    margin: 10px 30%;

}

img.icon-tiny-centered{
    width: 10%;
    margin: 10px 45%;

}
